
header {
    background-color: rgba(86, 12, 206, 0.767);
    padding: 2.5em;
    text-align: center;
}

body {
   
}

img {
    max-width: 250px;
    position: absolute;
    top: 110px;
    right: 25em;
     
}

#content {
    max-width: 750px;
    margin: 0 auto;
   
    padding: 5em;
}

footer {
    text-align: center;
    background-color: rgba(86, 12, 206, 0.767);
}

