
header{
    background-color: cyan;
    padding: 1em;
    grid-template-columns: 110px auto;
    text-align: center;

}

nav{
    list-style: none;
}

nav ul{
    list-style: none; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr)); 
    padding: 1em;
    margin: 0;
}

body{
    background-color: white;

}

footer{
    background-color: white;
    padding: 1em;
}

#content{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    padding: 1em;

}



.websitelogo img{
    max-width: 10%;
}

footer{
    text-align: center;
    background-color: cyan;
}