
header {
    background-color: rgba(86, 12, 206, 0.767);
    padding: 2.5em;
    text-align: center;
    }


h1 {
    font-family: 'Seymour One', sans-serif;  
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.picofme {
    max-width: 250px;
    position: absolute;
    top: 110px;
    right: 25em;
     
}

#content {
    max-width: 750px;
    margin: 0 auto;
    padding: 5em;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif; 
}

.index-grid{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
}

.byui {
grid-template-columns: 1/2;
}

.disney{
grid-template-columns: 2/3;
}

.steam{
grid-template-columns: 3/4;
}

.byuipic{
    max-width: 300px;
    margin: 0;
}

.disneypic{
    max-width: 300px;
}

.steampic{
    max-width: 300px;
}