
header {
    background-color: rgba(86, 12, 206, 0.767);
    padding: 2.5em;
    text-align: center;
    }


h1 {
    font-family: 'Seymour One', sans-serif;  
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
}

img {
    max-width: 250px;
    position: absolute;
    top: 110px;
    right: 25em;
     
}

#content {
    max-width: 750px;
    margin: 0 auto;
    
    padding: 5em;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif; 
}